<app-home-button></app-home-button>
<main class="flex items-center justify-center h-screen bg-slate-800">
  <ul class="flex">
    <li
      class="h-48 w-20 bg-gray-200 hover:bg-gray-300 active:bg-gray-100 rounded-b-lg rounded-tl-lg shadow-inner drop-shadow-md hover:cursor-pointer"
      (click)="playPianoKey(1)"
    ></li>
    <li
      *ngFor="let key of [2, 3, 4, 5, 6]"
      class="h-48 w-20 bg-gray-200 hover:bg-gray-300 active:bg-gray-100 rounded-b-lg shadow-inner drop-shadow-md hover:cursor-pointer"
      (click)="playPianoKey(key)"
    ></li>
    <li
      class="h-48 w-20 bg-gray-200 hover:bg-gray-300 active:bg-gray-100 rounded-b-lg rounded-tr-lg shadow-inner drop-shadow-md hover:cursor-pointer"
      (click)="playPianoKey(7)"
    ></li>
  </ul>
</main>
